@import 'base';

body {
  background:$black-full;
  color:$grey-light-1;
  font-family:'Lato', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {

}


a {
  color:$grey-light-1;
  text-decoration:none;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}

ul,
ol,
dl {
  margin:0;
  padding:0;
}

li,
dd {
  list-style-type:none;
}

.wrapper {
  width:100%;
  max-width:1024px;
  margin:0 auto;
}