@mixin mobile-desktop-spacing {
  padding:0 10px;
  @media(min-width:600px) {
    padding:0 20px;
  }
}

@mixin heading-text-shadow {
  text-shadow:0 7px 4px $black-full;
}

@mixin heading-text-shadow-short {
  text-shadow:0 5px 3px $black-full;
}

